zi_poisson_complex.Rds
zi_poisson_simple.Rds
zi_poisson_simple_spatial.Rds
mod_an.RDS
mod_black.RDS
mod_scar.RDS
mod_brown.RDS
mod_skeltal.RDS
mod_total.RDS
mod_white.RDS
Models from Katana
mod_WSmorph.rds
Final Models